.container-menu {
  position: relative;
}

.container-menu-list {
  position: absolute;
  top: calc(100% + 10px);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 6px;
  background: #fff;
  z-index: 30;
  height: fit-content;
  min-width: 200px;
}
