table tbody {
  .row-select-single-selected,
  .row-select-selected {
    background-color: var(--color-primary-ligth) !important;
    font-weight: 600 !important;
    color: #fff;
    a,
    button {
      color: #fff;
      &:hover {
        color: var(--color-gray-700);
      }
    }
  }
}
table {
  input {
    accent-color: var(--color-primary)  !important; /* Fondo verde */
  }
}
